/* Admin.css */
.admin-container {
  background-image: url('/Users/jazmi/usuario/src/components/Imagenes/Fondoo.jpg'); /* Cambia esto por la ruta de tu imagen */
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semi-transparente para la barra de navegación */
  padding: 10px;
}

.navbar-menu {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin: 0;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
}

.navbar-menu a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

/* Estilos del buscador */
.search-container {
  position: absolute; /* Posición absoluta para que esté en el centro */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centrado exacto */
  width: 100%;
  max-width: 500px;
  padding: 20px;
  display: flex;
  justify-content: center;
  z-index: 5;
}

.search-form {
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro para el formulario */
  border-radius: 50px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5), 0 4px 15px rgba(0, 0, 0, 0.5); /* Sombra neón verde y azul */
}

.search-input {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  outline: none;
  background-color: transparent;
  color: #fff; /* Color del texto en blanco */
  border: 2px solid transparent;
  box-shadow: 0 0 8px rgba(0, 255, 0, 0.7), 0 0 8px rgba(0, 0, 255, 0.7); /* Sombra neón verde y azul en el input */
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.search-input::placeholder {
  color: #bbb; /* Color más claro para el texto del placeholder */
}

.search-input:focus {
  box-shadow: 0 0 15px rgba(0, 255, 0, 1), 0 0 15px rgba(0, 0, 255, 1); /* Efecto de neón al enfocar el input */
  border-color: #0f0; /* Bordes en color verde cuando está enfocado */
}



.search-button:hover {
  
  box-shadow: 0 4px 15px rgba(0, 255, 0, 0.5), 0 4px 15px rgba(0, 0, 255, 0.5); /* Sombra neón verde y azul */

}

