/* Contenedor principal de la página */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1f4c39;
}

/* Contenedor de la imagen a la izquierda */
.image-container {
  flex: 1; /* La imagen ocupará 50% del espacio */
  padding: 20px;
}

/* La imagen */
.imagen {
  width: 100%;  /* Asegura que la imagen ocupe todo el contenedor */
  height: 100%;
  object-fit: cover; /* Mantiene la proporción de la imagen sin distorsionarla */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Contenedor del contenido a la derecha */
.content-container {
  flex: 1;  /* El contenido ocupará la otra mitad del espacio */
  padding: 20px;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
  display: flex;
  flex-direction: column; /* Los elementos dentro de este contenedor se apilarán de arriba a abajo */
  justify-content: center; /* Centra el contenido verticalmente */
  align-items: center;  /* Centra los elementos horizontalmente */
  gap: 20px;  /* Espacio entre los elementos dentro de content-container */
}

/* Contenedor de botones (para que estén alineados horizontalmente) */
.button-container {
  display: flex;
  justify-content: center;  /* Centra los botones horizontalmente */
  gap: 20px; /* Espacio entre los botones */
  width: auto;  /* Ajusta el ancho del contenedor a los botones */
}

/* Estilo de los botones */
.popup-btn {
  background: linear-gradient(to right, #18943b, #adfaa3); /* Colores pastel en degradado */
  border: 2px solid #fbfffb; /* Se mantiene el borde rosa fuerte */
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease;
  
  /* Centrado del texto dentro del botón */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Esto asegura que el texto se centra correctamente en altura */
  height: 40px;
  width: auto;
}

.popup-btn:hover {
  transform: translateY(-3px); /* Efecto de desplazamiento hacia arriba */
  box-shadow: 0 6px 12px rgba(39, 255, 28, 0.6); /* Aumenta la sombra para dar un efecto de elevación */
  opacity: 0.9; /* Ligera transparencia en hover */
}

